html {
    scroll-behavior: smooth;
}
body{
    background-color: rgba(214, 207, 207, 0.425) ;
    font-family: monospace;
    margin-top: 25px;
}
header{
    text-align: center;
}
.jumbotron{
    position: relative;
    background-color: rgb(197, 218, 226)
}
ul {
    list-style-type: none;
}
.contact{

}
.btn-light{
    background-color: transparent;
}
.btn-light:hover{
    background-color: rgba(0, 162, 255, 0.301);
}
.about{
    text-align: left;
}
p{
    font-size: 16px;
}
#section02{
    text-align: center;
}
.name{
    font-weight: 900;
    margin-top: 15px;
}
.name:hover{
    color: rgb(55, 154, 201);
}

.id{
    color: rgb(90, 99, 99);
}
h1{
    position: relative;
}
#particles-js{
    position: relative;
    margin: 0 auto;
}
p{
    font-family: Courier;
}

.card-header{
    background-color: rgb(117, 185, 185)
}
/* #project{
    margin-top: 25px;

} */

.card{
    margin-top: 25px;
    border-radius: 20px;
}